/.ipynb_checkpoints
/_Old
/__pycache__
/.idea
/data_omxs30
/data_omxs30_autotrend
/data_omxs30_longterm
/logs
/samples/debug_omxs30/logs
/samples/debug_omxs30/data_prepared
/samples/debug_omxs30/models
/samples/debug_omxs30/results
/utils/__pycache__
